.go-back {
  .icon {
    background: #FF5F23;
    color: white;
    font-weight: 700;
    font-size: 50px;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
      background: #FFA500;
    }
  }
}